.nav-container {
  height: 80px;
  background: rgb(44, 42, 41);
  color: white;
}

.nav-wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-language {
  font-size: 14px;
  cursor: pointer;
}




.nav-center {
  flex: 1;
  text-align: center;
}

.nav-logo {
  font-weight: bold;
  font-size: 40px;
}

.nav-logo-image{
  
}
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu-item {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.nav-menu-item a{
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}